In [2]:
import numpy as np
import pandas as pd

health_df = pd.read_csv('data/data_new.csv')

In [17]:
health_df[health_df['race'] == 'black']['program_enrolled_t'].mean()

0.01415263346470799

In [18]:
health_df[health_df['race'] == 'white']['program_enrolled_t'].mean()

0.008633859543539651

In [13]:
health_df.groupby('race')['program_enrolled_t'].mean()

race
black    0.014153
white    0.008634
Name: program_enrolled_t, dtype: float64

In [12]:

sub_feats = health_df[['program_enrolled_t', 'cost_t', 'gagne_sum_t', 'race', 'cost_avoidable_t']]
sub_feats.groupby(['program_enrolled_t', 'race']).mean()

                                cost_t  gagne_sum_t  cost_avoidable_t
program_enrolled_t race
0                  black   8889.187716     2.003816       3245.829548
                   white   7295.904644     1.236452       2210.123981
1                  black  33545.569620     5.658228      16426.582278
                   white  25812.332440     4.415550      13293.833780